---
layout: default
---

<div class="home">

  <div class="post-list">
    {% for post in paginator.posts %}
      <div class="post">
        <h1>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <article class="post-content">
          {{ post.excerpt }}
        </article>
        <div class="readMore">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">بیشتر بخوانید...</a>
          <div style="clear:both;"></div>
        </div>
        
      </div>
    {% endfor %}
  </div>
  <!-- Pagination links -->
<div class="pagination"><p>
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="previous">قبلی</a>
  {% else %}
    <span class="previous">قبلی</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">بعدی</a>
  {% else %}
    <span class="next ">بعدی</span>
  {% endif %}</p>
</div>


  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
