---
layout: default
---

<div class="home">

  <div class="post-list">
    {% for post in paginator.posts %}
      <div class="post">
        <h1>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <article class="post-content">
          {{ post.excerpt }}
        </article>
        <div class="readMore">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">بیشتر بخوانید...</a>
          <div style="clear:both;"></div>
        </div>
        
      </div>
    {% endfor %}
  </div>
  {% if paginator.total_pages > 1 %}
    <div class="pagination"><p>
      {% if paginator.previous_page %}
    <a class="previous" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">قبلی &raquo;</a>
  {% else %}
    <span class="previous">قبلی &raquo;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a class="page_number " href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a class="page_number " href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; بعدی </a>
  {% else %}
    <span class="next">&laquo; بعدی </span>
  {% endif %}</p>
</div>
{% endif %}


  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
