
<!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
        <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#"></a>
            </li>
            <li>
                <a href="#">خانه</a>
            </li>
            <li>
                <a href="about-me.html">درباره من</a>
            </li>
            <li>
                <a href="contact-me.html">تماس با من</a>
            </li>
        </ul>
           <!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- Place this tag where you want the widget to render. -->
<br><br><br><br><br><br><br><br><br><div class="g-person" data-width="250" data-href="//plus.google.com/u/0/110914461853649185748" data-theme="dark" data-rel="author"></div>
    </nav>

