<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
    <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <!-- <li class="sidebar-brand">
            <a href="#">Find me here:</a>
        </li> -->
        <!-- <li>
                <a href="#">Home</a>
            </li> -->
    </ul>
    <div class="socialNav">
        <p>Hi,<br>My name is Ashkan. I write here about the web!</p>
        <a href="https://plus.google.com/u/0/+AshkanNemati/about" target="_blank"><i class="fa fa-google fa-3x"></i></a>
        <a href="https://twitter.com/ashkanxx" target="_blank"><i class="fa fa-twitter fa-3x" target="_blank"></i></a>
        <a href="https://www.linkedin.com/in/ashkannemati" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
        <a href="https://www.facebook.com/ashkan.nemati" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>
    </div>

</nav>
<!-- Place this tag in your head or just before your close body tag. -->