{% include header.html %}
<div class="header-slide">
    <div class="slide-text">
        <h1>What's New?</h1>
        <p>Get the latest news and updates about your Binary.com platform. Bookmark this page to be the first to know about new features added, service announcements or special offers</p>
    </div>
    <div class="slide-image"><img src="images/home-header.jpg" alt=""></div>
    <!-- <div style="clear:both;"></div> -->

</div>
<div class="blog-main">
    <div class="" style="width:65%;float:left;margin-right:5%;">
        <h1>{{ page.title }}</h1>

        {{ content }}
    </div>
    <div class="" style="width:30%;float:left;">
        {% include sidebar.html %}
    </div>
</div>
{% include footer.html %}